<section class="create-recipe-card">
    <h3 id="create-recipe-title">Create New Recipe</h3>
    <form class="add-recipe-form">

        <select id="category-id">
            <option>Choose Category</option>
            {{#each categories}}
            <option  value={{ this.id }}>{{ this.name }}</option>
            {{/each}}
        </select>

        <label id="recipe-name-label" for="add-recipe-name">Recipe Name</label>
        <input type="text" id="add-recipe-name-input" name="add-recipe-name"/>

        <h4>Ingredients</h4>

        <label for="add-recipe-ingredient">Ingredient</label>
        <label for="add-ingredient-measurement">Measurement</label>
        <label for="add-measurement-unit">Unit</label>

        <section class="ingredients-section">
        </section>

        <section class="ingredients-inputs-section">
            <div>
                <input type="text" id="add-ingredient-name-input" name="add-ingredient-name"/>
                <input type="text" id="add-ingredient-measurement-input" name="add-ingredient-measurement"/>
                {{!-- <input type="text" id="add-measurement-unit-input" name="add-measurement-unit"/> --}}
                
                <button type="button" id="add-ingredient-button">+</button>
            </div>
        </section>

        <label id="instructions-label" for="add-recipe-instructions">Preparation Instructions</label>
        <input type="text" id="add-recipe-instructions-input" name="add-post-content"/>

        <button id="create-button" type="submit">Create</button>
    </form>
</section>

<script src="/js/add-recipe.js"></script>