<section id="hero">
     <div class="hero-container">
          {{#if logged_in}}
          <h1>Hey {{user_name}}! <br/>Welcome Back to Cravings</h1>
          {{else}}
          <h1>Welcome to Cravings</h1>
          {{/if}}
          
          <h2>Your most delicious resource for your daily cooking!</h2>
          {{#if logged_in}}
          <a id="startbutton" href="/create" class="btn-get-started scrollto">Add New Recipe</a>
          {{else}}
          <a id="startbutton" href="/login" class="btn-get-started scrollto">Get Started</a>
          {{/if}}
          <img src="/images/cravings-logo-t.png" alt="Carleton University - Login"
               style="object-fit: cover; object-position: left;">
     </div>
</section>