<section class="h-75">
     <div class="container-fluid">
          <div class="row">
               <div class="col-sm-6 text-black">

                    <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 pt-xl-0 mt-xl-n5">

                         <form id="registration" style="width: 35rem;">

                              <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Registration Form</h3>
                              <p>Welcome to our Techie Blog page! we are excited you have decided to join us. You are one step away from becoming a member.</p>

                              <div class="form-outline mb-4">
                                   <input type="text" id="username" class="form-control form-control-lg" />
                                   <label class="form-label" for="username">Full Name</label>
                              </div>

                              <div class="form-outline mb-4">
                                   <input type="email" id="useremail" class="form-control form-control-lg"/>
                                   <label class="form-label" for="useremail">Email address</label>
                              </div>

                              <div class="form-outline mb-4">
                                   <input type="password" id="userpassword" class="form-control form-control-lg" />
                                   <label class="form-label" for="userpassword">Password</label>
                              </div>

                              <div class="form-outline mb-4">
                                   <input type="password" id="passwordvalidate" class="form-control form-control-lg" />
                                   <label class="form-label" for="passwordvalidate">Re-Enter Password</label>
                              </div>

                              <div class="pt-1 mb-2">
                                   <button class="btn btn-info btn-lg btn-block" type="submit" style="width:150px;">Register</button>
                                   <p id="errorMessage" class="text-danger" hidden>You have enter invalid information!</p>
                              </div>

                         </form>

                    </div>

               </div>
               <div class="col-sm-6 d-none d-sm-block">
                    <img class="carleton-image" src="/images/carleton-u-logo.jpg" alt="Carleton University - Login">
               </div>
          </div>
     </div>
</section>

<script src="/js/register.js"></script>